.listItem {
  border: 1px solid black;
  display: block;
  margin-bottom: 20px;
}

tr.listItem > td {
  padding: 0.5em;
  height: 67px;
}

tr:hover {
  background-color: rgb(199, 197, 197);
}

.flag {
  width: 80px;
}

.imageWrapper {
  width: 50px;
  font-size: 10px;
}

.currencyName {
  width: 200px;
}

@media screen and (max-width: 350px) {
  .exchangeRate {
    min-width: 100px;
    text-align: right;
  }
}

@media screen and (min-width: 600px) {
  .exchangeRate {
    min-width: 200px;
    text-align: right;
  }
}
